html {
  --white-color: #fff;
  --gray-color: #dadce0;

  --theme-color: #ffb300;
  --background-color: #f1f3f4;
  --border-color: var(--gray-color);
  --link-color: #1a73e8;
  --shadow-color: #d8d8d8;

  --text-size: 16px;

  --max-screen-width: 900px;
}

body {
  margin: 0;
  font: 400 16px/24px Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: black;
}

.sub-title {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 5px;
  margin-bottom: 5px;
}

@import './components/components.css';
@import './icons.css';
